header{
    /* border-bottom: 2px solid var(--main-color); */
    overflow: hidden;
    height: 5rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    /* transition: all 0.4s ease 0s; */
    z-index: 1000;
}
header:hover{
    height: 24rem;
    box-shadow: 0px 2px 10px rgba(151, 151, 151, 0.612);
    background-color: #fff;
}
header:before{
    /* header 구분선 */
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    left: 0;
    top: 4.8rem;
    background-color: var(--main-color);
    z-index: -1;
}
header .commonFrame{
    display: flex;
    justify-content: space-between;
}
.logo{

}
.logo a{
    display: flex;
    height: 5rem;
    align-items: center;
}
.logo a img{
    height: 5rem;
}
.gnb{
    display: flex;
    /* color: white; */
}
.gnb>li{

    margin-right: var(--space-middle);
}
.gnb>li:last-of-type{
    margin-right: 0;
}
.gnb>li>a{
    /* border: 1px solid orange; */
    display: flex;
    height: 5rem;
    align-items: center;
}
.gnb>li>a:hover{
    text-decoration: underline;
}
.gnb>li>ul{
    margin-top: var(--space-small);
    /* margin-bottom: var(--space-middle); */
    /* color: black; */
}
.gnb>li>ul>li>a{

    display: flex;
    height: 3rem;
    align-items: center;
}
.gnb>li>ul>li>a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

.station1{
    width: 100%;
    height: auto;
}
.station1 .swiper-pagination-bullet {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #fff;
    opacity: 1;
}
.station1 .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--main-color);
}
.station2{
    width: 100%;
    height: 100vh;
}
.station2 .swiper-pagination-bullet {
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #fff;
    opacity: 1;
}
.station2 .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--main-color);
}

.type1{
    margin-top: var(--space-large);
    display: flex;
    gap: 6.4rem;
    margin-bottom: var(--space-large);
}
.type1>figure{
    flex: 1;
}
.type1>section{
    flex: 1;
}
.type1 h2{
    margin-bottom: var(--space-middle);
}
.type1 h3{
    margin-bottom: var(--space-small);
}
.type1 p{
    margin: var(--space-small) 0;
}


.title1{}
.title1 h2{
    margin-bottom: var(--space-small);
}
.title2{
    text-align: center;
    margin-bottom: var(--space-large);
}
.title2 h2{
    margin-bottom: var(--space-small);
}
.title3{
    text-align: center;
    position: relative;
}
.title3::after{
    content: "";
    position: absolute;
    left: calc(50% - 2.5rem);
    top: 3.75rem;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--main-color);
}
.title3 h2{
    margin-bottom: var(--space-middle);
}
.title4{
    text-align: center;
    position: relative;
    padding-bottom: 5rem;
}
.title4::after{
    content: "";
    position: absolute;
    width: 0.2rem;
    height: 4rem;
    left: calc(50% - 0.25rem);
    bottom: 0;
    background-color: var(--main-color);
    border-radius: 2.5rem;
}
.title4 h2{
    margin-bottom: var(--space-small);
}
.commonFrame1.desc1{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap: 4rem;
}
.commonFrame1.desc1>*{
    flex: 1;
}
.commonFrame1.desc2{
    margin-top: var(--space-middle);
    margin-bottom: var(--space-middle);
    display: flex;
    gap: 4rem;
}
.commonFrame1.desc2>*{
    flex: 1;
}
.txt{
    padding-top: var(--space-middle);
    align-items: center;
}
.txt h3{
    margin-bottom: var(--space-small);
}
.txt p{
    margin: var(--space-small) 0;
}

/* fade-in&out - 시그니쳐 셀렉션 */
.commonFrame.fade{
    display: flex;
    margin-top: var(--space-xlarge);
    margin-bottom: var(--space-xlarge);
    align-items: center;
    gap: 4rem;
}
.commonFrame.fade>*{
    flex: 1;
}
.fade_txt h3{
    margin-bottom: var(--space-small);
}
.fade_txt p{
    margin: var(--space-small) 0;
}
.station4{
    pointer-events: none;
}

.outerFrame{
    padding: var(--space-large) 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7) url(../img/Asset\ 20-100.jpg) no-repeat 50% 50% / cover;
    background-blend-mode: overlay;
    color: #fff;
}
.outerFrame .commonFrame>*{
    margin: var(--space-small) 0;
}
.p{
    margin: var(--space-large) 0;
}
.p>p:nth-of-type(1){
    margin-bottom: var(--space-small);
}
footer{
    background-color: black;
    color: #fff;
    padding-top: var(--space-middle);
    padding-bottom: var(--space-xlarge);
}
footer .commonFrame{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.foot_sns img{
    height: 2rem;
}
.flogo img{
    height: 7rem;
}
.foot_menu{
    margin-bottom: var(--space-middle);
    display: flex;
    gap: var(--space-small);
}
.info{
    margin-bottom: var(--space-middle);
    display: flex;
    gap: 0 var(--space-small);
    flex-wrap: wrap;
    opacity: 0.8;
}
.copy{
    opacity: 0.6;
}
.direct{
    display: flex;
    gap: var(--space-middle);
    justify-content: center;
}
.foot_sns{
    display: flex;
    gap: var(--space-small);
}
.flogo{
    display: flex;
    justify-content: center;
}

/* 커피이야기 */
.commonFrame.ml{
    margin-top: var(--space-xlarge);
    padding-top: var(--space-xlarge);
    margin-bottom: var(--space-large);
}
.commonFrame.desc3{
    display: flex;
    gap: 4rem;
    justify-content: space-between;
}
.commonFrame.desc3 .txt{flex: 6;}
.commonFrame.desc3 figure{flex: 5;}
.commonFrame.desc3 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.station5 strong{
    display: block;
}
.station5 li>*{
    margin-bottom: var(--space-small);
}
.station5 li>*:last-child{
    margin-bottom: 0;
}
.station5 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonFrame.station5{
    padding-bottom: var(--space-large);
}
.station5 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}



/* 델리 */
.station6 strong{
    display: block;
}
.station6 li>*{
    margin-bottom: var(--space-small);
}
.station6 li>*:last-child{
    margin-bottom: 0;
}
.station6 figure{
    width: 100%;
    height: 15rem;
}
.station6 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonFrame.station6{
    padding-bottom: var(--space-large);
}
.station6 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}
/* 디저트 */
.station7 strong{
    display: block;
}
.station7 li>*{
    margin-bottom: var(--space-small);
}
.station7 li>*:last-child{
    margin-bottom: 0;
}
.station7 figure{
    width: 100%;
    height: 15rem;
}
.station7 figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonFrame.station7{
    padding-bottom: var(--space-large);
}
.station7 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--main-color);
}

.sub_banner{
    height: 25rem;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 0 1rem;
}
.sub1{
    background: 
    linear-gradient(90deg,rgba(0, 0, 0, 0.63) 0%, rgba(0, 0, 0, 0) 100%),
    url(../img/list_banner.jpg) no-repeat 50% 50% / cover;
    background-blend-mode: multiply;
}
.sub_banner h2{
    margin-bottom: var(--space-small);
}
.option_bar{
    margin: var(--space-middle) auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option_admin{
    display: none;
}
.admin .option_admin{
    display: flex;
}
.notice_form{
    margin-bottom: var(--space-small);
}
.list_table{
    table-layout: fixed;
    width: 100%;
}
.list_table th{
    padding: 0.8rem 0;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.list_table th:last-of-type{
    width: 15%;
}
.list_table th:nth-of-type(4){
    width: 15%;
}
.list_table th:nth-of-type(3){
    width: 57%;
}
.list_table th:nth-of-type(2){
    width: 7%;
}
.list_table th:nth-of-type(1){
    width: 6%;
}
.list_table td{
    text-align: center;
    padding: 0.8rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.list_table td a{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_table td:nth-of-type(3){
    text-align: left;
}
.commonFrame.bbs_pagination{
    margin-bottom: var(--space-xlarge);
}
.cell_admin{
    display: none;
}
.admin .cell_admin{
    display: table-cell;
}

/* notice_write */
.form_title label{
    display: none;
}
.form_title{
    border-bottom: 2px solid var(--inactive-color);
    margin-bottom: var(--space-small);
}
.form_title input{
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9rem;
    padding: 0.4rem 0.5rem;
    border: none;
}
.form_title input::placeholder{
    color: var(--inactive-color);
    font-weight: var(--font-midium);
}
.form_desc label{
    display: none;
}
textarea{
    font-size: 0.9rem;
}
.form_desc{
    margin-bottom: var(--space-small);
    border-bottom: 2px solid var(--inactive-color);
}
.form_desc textarea{
    width: 100%;
    resize: none;
    height: 22rem;
    padding: 0.4rem 0.5rem;
    border: none;
    box-sizing: border-box;
}
.form_desc textarea::placeholder{
    color: var(--inactive-color);
}
.form_submit{
    margin-bottom: var(--space-xlarge);
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.8);
    /* display: none */
    pointer-events: none;
    opacity: 0;
    /* transition: all 0.4s ease 0s; */
}
.modal.on{
    /* display: block; */
    opacity: 1;
    pointer-events: auto;
}
.popup{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 100000;
    width: 60%;
    text-align: center;
    display: none
}
.popup.on{
    display: block;
}
.popup_title{
    margin-bottom: var(--space-small);
}
.popup_ctrl .btn_common.yes{
    width: 12%;
}
.popup_ctrl .btn_common.no{
    width: 11%;
}


/* notice_view */
.large_margin{
    margin: var(--space-large) auto;
}
.view_info{
    display: flex;
    gap: var(--space-small);
}
.button_list{
    gap: var(--space-small);
}
.button_list img{
    height: 1.2rem;
    object-fit: contain;
}
.border{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.8rem 0;
}
.view_txt{
    padding: 0.5rem;
    min-height: 35rem;
    border-bottom: 1px solid black;
    margin-bottom: var(--space-small);
}
.lmb{
    margin-bottom: var(--space-large);
}

.fixed_menu li{
    margin: 0.5rem 0;
}
.fixed_menu{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    background-origin: 1rem;
    z-index: 1000;
    transform: translateX(150%);
    /* transition: all 0.6s ease 0s; */
}
.fixed_menu.on{
    transform: translateX(0%);
}
.fixed_menu img{
    height: 3rem;
    object-fit: contain;
}
.fixed_menu img:nth-of-type(1){
    height: 1.1rem;
    object-fit: contain;
}
.fixed_menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--main-color);
    border-radius: 50%;
}